{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--css-->
<style>

/* HERO */
.about-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 40px;
}

/* LEFT */
.about-left {
    width: 50%;
}

.about-tag {
    color:#9b08c4;
    font-size: 20px;
    font-weight:bold;
    letter-spacing: 2px;
}

.about-left h1 {
    font-size: 40px;
    color: #f1f5f9;
    margin: 15px 0;
}

.about-left h1 span {
    background: linear-gradient(90deg, #8b5cf6, #3b82f6, #f97316);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-left p {
    color: #94a3b8;
    line-height: 1.7;
}

/* RIGHT STATS GRID */
.about-right {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* STAT BOX */
.stat-box {
    padding: 25px;
    background:#0f172a;
    border-radius: 16px;
    text-align: center;
    position: relative;
}

/* GLOW BORDER */
.stat-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(120deg, #8b5cf6, #3b82f6, #f97316);

    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    opacity: 0.5;
}
.stat-box:nth-child(1) h2 { color: #b906f5; } /* purple */
.stat-box:nth-child(2) h2 { color: #3b82f6; } /* blue */
.stat-box:nth-child(3) h2 { color: #f97316; } /* orange */
.stat-box:nth-child(4) h2 { color: #22c55e; } /* green */

/* NUMBER */
.stat-box h2 {
    font-size: 28px;
    color: #8b5cf6;
}

/* TEXT */
.stat-box p {
    color: #94a3b8;
    margin-top: 5px;
}

/* HOVER */
.stat-box:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
/* ICON BOX */
.stat-icon {
    width: 55px;
    height: 55px;
    margin: 0 auto 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 14px;
    background: rgba(255,255,255,0.03);

    border: 1px solid #334155;
}

/* ICON SIZE */
.stat-icon i {
    width: 26px;
    height: 26px;
}

/* COLOR + GLOW */

/* 1 */
.stat-box:nth-child(1) .stat-icon {
    color: #b906f5;
    box-shadow: 0 0 12px rgba(139, 92, 246, 0.5);
}

/* 2 */
.stat-box:nth-child(2) .stat-icon {
    color: #3b82f6;
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.5);
}

/* 3 */
.stat-box:nth-child(3) .stat-icon {
    color: #f97316;
    box-shadow: 0 0 12px rgba(249, 115, 22, 0.5);
}

/* 4 */
.stat-box:nth-child(4) .stat-icon {
    color: #22c55e;
    box-shadow: 0 0 12px rgba(34, 197, 94, 0.5);
}
/* SECTION */
.mission-section {
    padding: 80px;
}

/* CONTAINER */
.mission-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}
.how-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* GRADIENT LINES */
.line {
    flex: 1;
    height: 2px;

    background: linear-gradient(90deg, transparent, #8b5cf6, #3b82f6, orange, transparent);

    opacity: 0.8;
}
/* SECTION */
.what-section {
    padding: 80px;
    text-align: center;
}

/* SUBTEXT */
.what-subtext {
    color: #94a3b8;
    max-width: 600px;
    margin: 20px auto 50px;
}

/* GRID */
/* GRID */
.what-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* CENTER LAST CARD */
.what-card:last-child {
    grid-column: 2 / 4;   /* puts it in center column */
}

/* CARD */
.what-card {
    background: #1e293b;
    padding: 30px 20px;
    border-radius: 18px;
    position: relative;
    transition: 0.3s;
}

/* GLOW BORDER */
.what-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px;
    padding: 1px;
    background: linear-gradient(120deg, #8b5cf6, #3b82f6, #f97316);

    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    opacity: 0.4;
}

/* ICON BOX */
.what-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 16px;
    background: rgba(255,255,255,0.03);
}

/* ICON */
.what-icon i {
    width: 28px;
    height: 28px;
}

/* TITLE */
.what-card h3 {
    color: #f1f5f9;
    margin-bottom: 10px;
}

/* TEXT */
.what-card p {
    color: #94a3b8;
    font-size: 14px;
}

/* HOVER */
.what-card:hover {
    transform: translateY(-8px);
}

/* COLORS */
.what-card.purple .what-icon { color: #8b5cf6; }
.what-card.blue .what-icon { color: #3b82f6; }
.what-card.orange .what-icon { color: #f97316; }
.what-card.green .what-icon { color: #22c55e; }
.what-card.pink .what-icon {color: #ec4899;}
/* SECTION */
.values-section {
    padding: 80px;
    text-align: center;
}

/* SUBTEXT */
.values-subtext {
    color: #94a3b8;
    max-width: 600px;
    margin: 20px auto 50px;
}

/* GRID */
.values-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* CARD */
.value-card {
    background: #1e293b;
    padding: 30px 20px;
    border-radius: 18px;
    position: relative;
    transition: 0.3s;
}

/* GLOW BORDER */
.value-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px;
    padding: 1px;
    background: linear-gradient(120deg, #8b5cf6, #3b82f6, #f97316);

    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    opacity: 0.4;
}

/* ICON BOX */
.value-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 14px;
}

/* ICON */
.value-icon i {
    width: 28px;
    height: 28px;
}

/* TEXT */
.value-card h3 {
    color: #f1f5f9;
    margin-bottom: 10px;
}

.value-card p {
    color: #94a3b8;
    font-size: 14px;
}

/* HOVER */
.value-card:hover {
    transform: translateY(-8px);
}

/* COLORS */
.value-card.purple .value-icon {
    background: rgba(139, 92, 246, 0.15);
    color: #8b5cf6;
    box-shadow: 0 0 15px rgba(139, 92, 246, 0.5);
}

.value-card.blue .value-icon {
    background: rgba(59, 130, 246, 0.15);
    color: #3b82f6;
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.5);
}

.value-card.orange .value-icon {
    background: rgba(249, 115, 22, 0.15);
    color: #f97316;
    box-shadow: 0 0 15px rgba(249, 115, 22, 0.5);
}

.value-card.green .value-icon {
    background: rgba(34, 197, 94, 0.15);
    color: #22c55e;
    box-shadow: 0 0 15px rgba(34, 197, 94, 0.5);
}
.value-card.red .value-icon {
    background: rgba(239, 68, 68, 0.15);
    color: #ef4444;
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.5);
}
.value-card.pink .value-icon {
    background: rgba(236, 72, 153, 0.15);
    color: #ec4899;
    box-shadow: 0 0 15px rgba(236, 72, 153, 0.5);
}
/* SECTION */
.tech-section {
    padding: 80px;
    text-align: center;
}

/* SUBTEXT */
.tech-subtext {
    color: #94a3b8;
    margin: 20px auto 50px;
    max-width: 600px;
}
</style>
<!--html-->
<!-- ABOUT HERO -->
<div class="about-hero">

    <!-- LEFT -->
    <div class="about-left">

        <span class="about-tag">ABOUT US</span>

        <h1>
            Empowering Businesses with 
            <span>Smart Data Intelligence</span>
        </h1>

        <p>
            SmartAnalytics helps organizations turn complex data into clear, actionable insights.
            With AI-powered tools and real-time analytics, we enable smarter decisions and faster growth.
        </p>

    </div>

    <!-- RIGHT STATS -->
    <div class="about-right">

    <div class="stat-box">
        <div class="stat-icon">
            <i data-lucide="shield-check"></i>
        </div>
        <h2>100%</h2>
        <p>Data Privacy Focused</p>
    </div>

    <div class="stat-box">
        <div class="stat-icon">
            <i data-lucide="database"></i>
        </div>
        <h2>1M+</h2>
        <p>Data Processed</p>
    </div>

    <div class="stat-box">
        <div class="stat-icon">
            <i data-lucide="target"></i>
        </div>
        <h2>99%</h2>
        <p>Accuracy</p>
    </div>

    <div class="stat-box">
        <div class="stat-icon">
            <i data-lucide="headphones"></i>
        </div>
        <h2>24/7</h2>
        <p>Support</p>
    </div>
</div>
</div>
<div class="mission-section">

    <div class="section-header">
        <div class="how-header">
    <div class="line"></div>

    <h2 class="how-title">Our Mission & Our Vision</h2>

    <div class="line"></div>
</div><br>
    <div class="mission-container">

        <!-- MISSION -->
        <div class="stat-box">
            <div class="stat-icon">
                <i data-lucide="target"></i>
            </div>

            <h3>Our Mission</h3>

            <p>
                To empower businesses with intelligent data solutions that simplify decision-making,
                enhance productivity, and drive measurable growth.
            </p>
        </div>

        <!-- VISION -->
        <div class="stat-box">
            <div class="stat-icon">
                <i data-lucide="eye"></i>
            </div>

            <h3>Our Vision</h3>

            <p>
                To become a global leader in AI-driven analytics, helping organizations unlock
                the true potential of their data for a smarter future.
            </p>
        </div>

    </div>

</div><br>
<div class="what-section">

    <div class="section-header">
        <div class="how-header">
    <div class="line"></div>

    <h2 class="how-title">What We Do</h2>

    <div class="line"></div>
</div><br>
    </div>

    <p class="what-subtext">
        We provide intelligent tools that help businesses analyze data, predict trends,
        and make smarter decisions with confidence.
    </p>

    <div class="what-container">

        <div class="what-card purple">
            <div class="what-icon">
                <i data-lucide="bar-chart-3"></i>
            </div>
            <h3>Data Analytics</h3>
            <p>Transform raw data into meaningful insights with advanced analytics tools.</p>
        </div>

        <div class="what-card blue">
            <div class="what-icon">
                <i data-lucide="activity"></i>
            </div>
            <h3>Real-Time Monitoring</h3>
            <p>Track performance and metrics instantly with live dashboards.</p>
        </div>

        <div class="what-card orange">
            <div class="what-icon">
                <i data-lucide="trending-up"></i>
            </div>
            <h3>Predictive Insights</h3>
            <p>Use AI to forecast trends and make data-driven decisions.</p>
        </div>

        <div class="what-card green">
            <div class="what-icon">
                <i data-lucide="shield-check"></i>
            </div>
            <h3>Secure Data</h3>
            <p>Ensure your data is protected with enterprise-grade security.</p>
        </div>
<div class="what-card pink">
    <div class="what-icon">
        <i data-lucide="brain"></i>
    </div>
    <h3>Decision Support</h3>
    <p>Make smarter business decisions with AI-driven insights and recommendations.</p>
</div>
    </div>
</div>
<div class="values-section">

    <div class="section-header">
        <div class="how-header">
    <div class="line"></div>

    <h2 class="how-title">Our Core Values</h2>

    <div class="line"></div>
</div><br>
    </div>

    <p class="values-subtext">
        The principles that guide everything we build and every decision we make.
    </p>

    <div class="values-container">

        <div class="value-card purple">
            <div class="value-icon">
                <i data-lucide="shield"></i>
            </div>
            <h3>Trust & Security</h3>
            <p>Your data is protected with the highest standards of security.</p>
        </div>

        <div class="value-card blue">
            <div class="value-icon">
                <i data-lucide="lightbulb"></i>
            </div>
            <h3>Innovation</h3>
            <p>We continuously evolve to bring cutting-edge AI solutions.</p>
        </div>

        <div class="value-card orange">
            <div class="value-icon">
                <i data-lucide="users"></i>
            </div>
            <h3>User Focus</h3>
            <p>We design everything with our users at the center.</p>
        </div>

        <div class="value-card green">
            <div class="value-icon">
                <i data-lucide="rocket"></i>
            </div>
            <h3>Growth Mindset</h3>
            <p>We believe in continuous improvement and scalability.</p>
        </div>

    </div>
</div>
<div class="tech-section">

    <div class="section-header">
       <div class="how-header">
    <div class="line"></div>

    <h2 class="how-title">Technologies We Use</h2>

    <div class="line"></div>
</div><br>
    </div>

    <p class="tech-subtext">
        Built using powerful tools and frameworks to deliver intelligent analytics solutions.
    </p>

    <div class="values-container">

        <div class="value-card purple">
             <div class="value-icon">
            <i data-lucide="code"></i></div>
            <h3>Python</h3>
        </div>

        <div class="value-card orange">
             <div class="value-icon">
            <i data-lucide="layers"></i></div>
            <h3>Django</h3>
        </div>

        <div class="value-card blue">
             <div class="value-icon">
            <i data-lucide="database"></i></div>
            <h3>Pandas</h3>
        </div>

        <div class="value-card green">
             <div class="value-icon">
            <i data-lucide="cpu"></i></div>
            <h3>NumPy</h3>
        </div>

        <div class="value-card pink">
             <div class="value-icon">
            <i data-lucide="bar-chart-3"></i></div>
            <h3>Chart.js</h3>
        </div>

        <div class="value-card red">
             <div class="value-icon">
            <i data-lucide="globe"></i></div>
           <h3> Kaggle</h3>
        </div>

    </div></div>
{% endblock %}