{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- CSS -->
<style>


/* FULL WIDTH HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* LEFT CONTENT */
.hero-left {
    padding: 80px;
    max-width: 600px;
}
/* BADGE */
.hero-badge {
    display: inline-block;
    padding: 6px 14px;
    border: 1px solid #334155;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* GRADIENT TEXT */
.hero-badge span {
    background: linear-gradient(90deg, purple, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* TITLE */
.hero-left h1 {
    font-size: 52px;
    line-height: 1.2;
    font-weight: 700;
    color:white;
}

.hero-left h1 span {
    background: linear-gradient(100deg, #b108f9, #0a16ff, #ff6a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* DESCRIPTION */
.hero-desc {
    margin-top: 20px;
    font-size: 28px;
    color:white;
}

/* COLORS */
.text-purple {
    color:purple;
    text-weight: bold;
    
}

.text-blue {
    color:blue;
    text-weight: bold;
    
}
.text-orange {
    color: orange;
    text-weight: bold;
    
}
.hero-subtext {
    margin-top: 15px;
    color:#f1f5f9;
    font-size: 18px;
    line-height: 1.6;
}

/* BUTTONS */
.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

/* PRIMARY BUTTON */
.btn-primary {
    background:#b108f9;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 22px;
}

/* SECONDARY BUTTON */
.btn-secondary {
    border: 2px solid blue;
    color: #f1f5f9;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 22px;
}

.hero-ffeatures {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}

/* BOX */
.ffeature-box {
     display: flex;
    align-items: center;
    gap: 10px;

    padding: 18px 25px;
    border-radius: 14px;
    width: 250px;

    background: transparent;
    border: 1px solid;
    transition: 0.3s;
}

/* FICON BOX */
.fficon-box {
    width: 68px;
    height: 50px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* FICON SIZE */
.fficon-box i {
    width: 22px;
    height: 22px;
}

/* COLORS + GLOW */
/* PURPLE ICON */
.purple .fficon-box {
    border: 1px solid #8b5cf6;
    color: #8b5cf6;   /* THIS changes icon color */
    box-shadow: 0 0 12px rgba(139, 92, 246, 0.4);
}

/* BLUE ICON */
.blue .fficon-box {
    border: 1px solid #3b82f6;
    color: #3b82f6;
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.4);
}

/* ORANGE ICON */
.orange .fficon-box {
    border: 1px solid #f97316;
    color: #f97316;
    box-shadow: 0 0 12px rgba(249, 115, 22, 0.4);
}

/* TEXT */
.ffeature-box span {
    color: #e2e8f0;
    font-size: 13px;
}

/* RIGHT SIDE */
.hero-right {
    padding-right: 80px;
}

/* CARD */
.dashboard-card {
    width: 560px;
    height: 400px;
    background: #1e293b;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
}

/* GLOW BORDER */
.dashboard-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(120deg, #8b5cf6, #3b82f6, #f97316);
    
    -webkit-mask: 
        linear-gradient(#000 0 0) content-box, 
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

/* IMAGE */
.dashboard-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.how-section {
    padding: 80px 60px;
}

/* TITLE */
.how-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* GRADIENT LINES */
.line {
    flex: 1;
    height: 2px;

    background: linear-gradient(90deg, transparent, #8b5cf6, #3b82f6, orange, transparent);

    opacity: 0.8;
}

/* TITLE */
.how-title {
    font-size: 34px;
    font-weight: 600;
}
.how-subtitle
{
     font-size: 20px;
    font-weight: 100;
    text-align:center;
}

/* STEP CARD (MAIN MAGIC) */
.step-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 30px;
    border-radius: 16px;
    margin-bottom: 18px;
    margin-left:62px;
    margin-right:62px;


    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    transition: all 0.3s ease;
}

/* HOVER (REALISTIC GLOW) */
.step-card:hover {
    transform: translateY(-4px);
    border-color: rgba(139,92,246,0.6);
    box-shadow: 0 8px 30px rgba(139,92,246,0.25);
}

/* LEFT SIDE */
.step-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* NUMBER */
.step-number {
    font-size: 26px;
    font-weight: 600;
    color: #8b5cf6;
}

/* ICON BOX */
.icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: linear-gradient(135deg, #8b5cf6, #3b82f6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* RIGHT ICON */
.icon-right {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(255,255,255,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TEXT */
.step-card h3 {
    margin: 0;
    font-size: 18px;
}

.step-card p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #94a3b8;
}
.step1 {
    border: 1px solid #8b5cf6;
}

.step2 {
    border: 1px solid #3b82f6;
}

.step3 {
    border: 1px solid #ff09fb;
}

.step4 {
    border: 1px solid  #00ff33;
}

.step5 {
    border: 1px solid orange;
}
.step1:hover {
    box-shadow: 0 8px 25px rgba(139,92,246,0.4);
}

.step2:hover {
    box-shadow: 0 8px 25px rgba(59,130,246,0.4);
}

.step3:hover {
    box-shadow: 0 8px 25px #ff09fb;
}

.step4:hover {
    box-shadow: 0 8px 25px #00ff33;
}

.step5:hover {
    box-shadow: 0 8px 25px rgba(255,165,0,0.5);
}
/* ICON BASE */
.icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ICON COLORS */
.step1 .icon-box {
    background: rgba(139,92,246,0.15);
    color: #8b5cf6;
}

.step2 .icon-box {
    background: rgba(59,130,246,0.15);
    color: #3b82f6;
}

.step3 .icon-box {
    background: rgba(168,85,247,0.15);
    color: #ff09fb;
}

.step4 .icon-box {
    background: rgba(99,102,241,0.15);
    color: #00ff33;
}

.step5 .icon-box {
    background: rgba(255,165,0,0.15);
    color: orange;
}
.step1 .icon-right { color: #8b5cf6; }
.step2 .icon-right { color: #3b82f6; }
.step3 .icon-right { color: #ff09fb; }
.step4 .icon-right { color: #00ff33; }
.step5 .icon-right { color: orange; }
.features-section {
    padding: 80px;
}

/* TITLE */
.section-title {
    text-align: center;
    font-size: 32px;
    color: #f1f5f9;
    margin-bottom: 50px;
}
.features-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}
/* CARD */
.feature-card {
    background: #1e293b;
    padding: 30px;
    width: 200px;
    border-radius: 16px;
    text-align: center;
    transition: 0.3s;
}

/* HOVER EFFECT */
.feature-card:hover {
    transform: translateY(-8px);
}

/* ICON */
.feature-icon {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ICON SIZE */
.feature-icon i {
    width: 26px;
    height: 26px;
}

/* COLORS */
.purple {
    color: #8b5cf6;
    border: 1px solid #8b5cf6;
    box-shadow: 0 0 15px rgba(139, 92, 246, 0.4);
}

.blue {
    color: #3b82f6;
    border: 1px solid #3b82f6;
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.4);
}

.orange {
    color: #f97316;
    border: 1px solid #f97316;
    box-shadow: 0 0 15px rgba(249, 115, 22, 0.4);
}
.pink{
    color: pink;
    border: 1px solid pink;
    box-shadow: 0 0 15px rgb(252, 0, 193)
}
.green{
    color: green;
    border: 1px solid green;
    box-shadow: 0 0 15px rgb(0, 255, 30)
}
/* TEXT */
.feature-card h3 {
    color: #f1f5f9;
    margin-bottom: 10px;
}

.feature-card p {
    color: #94a3b8;
    font-size: 14px;
}
.feature-card:hover {
    box-shadow: 0 0 25px rgba(139, 92, 246, 0.2);
}

/* SECTION */
.why-section {
    padding: 20x;
    position: relative;
}

/* WRAPPER */

.why-wrapper {
    position: relative;
    height: 250px;
}

/* CURVE LINE (FORCED BACK) */
.curve-line {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 0;   /* VERY IMPORTANT */
}

/* LINE STYLE */
.curve-line path {
    fill: none;
    stroke: #8b5cf6;
    stroke-width: 2;
    opacity: 0.6;
}

/* ITEMS */
.why-items {
    position: relative;
    z-index: 2;   /* ABOVE LINE */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* EACH ITEM */
.why-item {
    text-align: center;
    width: 200px;
}

/* ICON (FORCED ABOVE EVERYTHING) */
.icon {
    width: 85px;
    height: 85px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    margin-bottom: 15px;

    position: relative;
    z-index: 5;   /* VERY IMPORTANT */
    background: #0f172a;  /* CUTS LINE BEHIND */
}

/* ICON SIZE */
.icon i {
    width: 24px;
    height: 24px;
}

/* COLORS */
.purple {
    color: #8b5cf6;
    border: 1px solid #8b5cf6;
    box-shadow: 0 0 15px rgba(139, 92, 246, 0.5);
}

.blue {
    color: #3b82f6;
    border: 1px solid #3b82f6;
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.5);
}

.orange {
    color: #f97316;
    border: 1px solid #f97316;
    box-shadow: 0 0 15px rgba(249, 115, 22, 0.5);
}

.pink{
    color: pink;
    border: 1px solid pink;
    box-shadow: 0 0 15px rgb(252, 0, 193)
}
.green{
    color: green;
    border: 1px solid green;
    box-shadow: 0 0 15px rgb(0, 255, 30)
}

/* TEXT */
.why-item h4 {
    color: #f1f5f9;
    margin-bottom: 5px;
}

.why-item p {
    color: #94a3b8;
    font-size: 14px;
}
.info-section {
    padding: 20px 120px;
    text-align: center;
}

.info-section p {
    color: #94a3b8;
    font-size: 20px;
}
/* HIGHLIGHT WORD */
.highlight {
    color: #8b5cf6;
    font-weight: bold;
}
</style>

<!--html starts from here-->
<div class="hero">

    <!-- LEFT -->
    <div class="hero-left">

        <div class="hero-badge">
            <span>SMARTER INSIGHTS, BETTER DECISIONS</span>
        </div>

        <h1>
            Turning Raw Data into <br>
            <span>Business Intelligence.</span>
        </h1>

        <p class="hero-desc">
            <span class="text-purple">Analyze</span> smarter.
            <span class="text-blue">Predict</span> better.
            <span class="text-orange">Grow</span> faster with AI-powered analytics.
        </p>

        <p class="hero-subtext">
            SmartAnalytics helps you analyze data, predict trends, and grow your business with powerful AI tools.
        </p>

        <div class="hero-buttons">
            <a href="{% url 'features' %}" class="btn-primary">Learn More</a>
            <a href="{% url 'help' %}" class="btn-secondary">View Demo</a>
        </div><br>

        <!-- FEATURES -->
        <div class="hero-ffeatures">

            <div class="ffeature-box purple">
                <div class="fficon-box">
                    <i data-lucide="activity"></i>
                </div>
                <span>Real-time Analytics</span>
            </div>

            <div class="ffeature-box blue">
                <div class="fficon-box">
                    <i data-lucide="gauge"></i>
                </div>
                <span>Accurate Predictions</span>
            </div>

            <div class="ffeature-box orange">
                <div class="fficon-box">
                    <i data-lucide="bar-chart-3"></i>
                </div>
                <span>Data-driven Growth</span>
            </div>

        </div>

    </div>

    <!-- RIGHT -->
    <div class="hero-right">

        <div class="dashboard-card">

            <img src="{% static 'images/Dashboard.png' %}" alt="Dashboard" class="dashboard-img">

        </div>

    </div>

</div>
{% load static %}
<div class="how-header" id="work">
    <div class="line"></div>

    <h2 class="how-title">How It Works</h2>

    <div class="line"></div>
</div>

<p class="how-subtitle">Simple steps to smarter business insights</p>
<br>
    <!-- STEP 1 -->
    <div class="step-card step1">
        <div class="step-left">
            <span class="step-number">01</span>
            <div class="icon-box">
                <i class="fas fa-cloud-upload-alt"></i>
            </div>
            <div>
                <h3>Upload Data</h3>
                <p>Upload your CSV/Excel data securely to get started.</p>
            </div>
        </div>
        <div class="icon-right">
            <i class="fas fa-cloud-upload-alt"></i>
        </div>
    </div>

    <!-- STEP 2 -->
    <div class="step-card step2">
        <div class="step-left">
            <span class="step-number">02</span>
            <div class="icon-box">
                <i class="fas fa-database"></i>
            </div>
            <div>
                <h3>Process Data</h3>
                <p>We clean and process the data for accurate analysis.</p>
            </div>
        </div>
        <div class="icon-right">
            <i class="fas fa-database"></i>
        </div>
    </div>

    <!-- STEP 3 -->
    <div class="step-card step3">
        <div class="step-left">
            <span class="step-number">03</span>
            <div class="icon-box">
                <i class="fas fa-chart-bar"></i>
            </div>
            <div>
                <h3>Analyze & Visualize</h3>
                <p>Explore interactive charts and dashboards.</p>
            </div>
        </div>
        <div class="icon-right">
            <i class="fas fa-chart-bar"></i>
        </div>
    </div>

    <!-- STEP 4 -->
    <div class="step-card step4">
        <div class="step-left">
            <span class="step-number">04</span>
            <div class="icon-box">
                <i class="fas fa-brain"></i>
            </div>
            <div>
                <h3>Predict Trends</h3>
                <p>AI models predict future trends and outcomes.</p>
            </div>
        </div>
        <div class="icon-right">
            <i class="fas fa-brain"></i>
        </div>
    </div>

    <!-- STEP 5 -->
    <div class="step-card step5">
        <div class="step-left">
            <span class="step-number">05</span>
            <div class="icon-box">
                <i class="fas fa-lightbulb"></i>
            </div>
            <div>
                <h3>Get Insights</h3>
                <p>Make smarter decisions and grow your business.</p>
            </div>
        </div>
        <div class="icon-right">
            <i class="fas fa-lightbulb"></i>
        </div>
    </div>

</section>
<div class="features-section" >

   <div class="how-header">
    <div class="line"></div>

    <h2 class="how-title">Powerful Features</h2>

    <div class="line"></div>
</div><br>

    <div class="features-grid">

        <div class="feature-card">
            <div class="feature-icon purple">
                <i data-lucide="activity"></i>
            </div>
            <h3>Real-time Analytics</h3>
            <p>Monitor your data live with instant insights.</p>
        </div>

        <div class="feature-card">
            <div class="feature-icon blue">
                <i data-lucide="gauge"></i>
            </div>
            <h3>Accurate Predictions</h3>
            <p>AI-powered forecasting for smarter decisions.</p>
        </div>

        <div class="feature-card">
            <div class="feature-icon orange">
                <i data-lucide="bar-chart-3"></i>
            </div>
            <h3>Data-driven Growth</h3>
            <p>Turn insights into real business growth.</p>
        </div>

        <div class="feature-card">
            <div class="feature-icon pink">
                <i data-lucide="shield-check"></i>
            </div>
            <h3>Secure Platform</h3>
            <p>Enterprise-level security to protect your data.</p>
        </div>

        <div class="feature-card">
            <div class="feature-icon green">
                <i data-lucide="zap"></i>
            </div>
            <h3>Fast Performance</h3>
            <p>Lightning-fast analytics with optimized systems.</p>
        </div>

    </div>

</div>
<div class="why-section">

    <!-- TITLE -->
    <div class="section-header">
         <div class="how-header">
    <div class="line"></div>

    <h2 class="how-title">Why Choose SmartAnalytics?</h2>

    <div class="line"></div>
</div><br><br><br><br><br>

   <div class="why-wrapper">

    <!-- CURVE LINE -->
    <svg class="curve-line" viewBox="0 0 1200 200" preserveAspectRatio="none">
        <path d="M0,120 C200,40 400,200 600,120 C800,40 1000,200 1200,120" />
    </svg>

    <!-- ITEMS -->
    <div class="why-items">

        <div class="why-item">
            <div class="icon purple"><i data-lucide="shield-check"></i></div>
            <h4>Accurate & Reliable</h4>
            <p>Advanced algorithms ensure high accuracy.</p>
        </div>

        <div class="why-item">
            <div class="icon blue"><i data-lucide="clock"></i></div>
            <h4>Real-time Insights</h4>
            <p>Get insights instantly whenever you need.</p>
        </div>

        <div class="why-item">
            <div class="icon green"><i data-lucide="lock"></i></div>
            <h4>Secure & Private</h4>
            <p>Your data is safe with top security standards.</p>
        </div>

        <div class="why-item">
            <div class="icon pink"><i data-lucide="user"></i></div>
            <h4>User Friendly</h4>
            <p>Easy interface designed for everyone.</p>
        </div>

        <div class="why-item">
            <div class="icon orange"><i data-lucide="trending-up"></i></div>
            <h4>Business Growth</h4>
            <p>Make smarter decisions and grow faster.</p>
        </div>

    </div>

</div>
<div class="info-section">
<div class="how-header">
    <div class="line"></div>

    <h2 class="how-title">Our Approach to Data Intelligence</h2>

    <div class="line"></div></div>
   <p>
    In a world driven by data, businesses that rely on guesswork fall behind. 
    <span class="highlight">SmartAnalytics</span> transforms complex data into clear, actionable insights 
    using advanced AI and real-time intelligence. 
    Anticipate trends, uncover hidden opportunities, and make confident decisions faster than ever before. 
    With precision, speed, and scalability at its core, SmartAnalytics empowers you to turn information into 
    a true competitive advantage.
</p>

</div>

{% endblock %}
